/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/rubik-v30-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange-300: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-blue-300: #55c2e6;
  --color-pink-400: #ff5e7d;
  --color-green-400: #4bcf82;
  --color-yellow-900: #f1c75b;
  --color-grey-200: #d8d8d8;
  --spacing-0: 0px;
  --spacing-100: 0.5rem;
  --spacing-200: 1.0rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2.0rem;
  --spacing-500: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--color-navy-950);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.dashboard__user-panel {
  background-color: var(--color-navy-900);
  border-radius: 0.9375rem;
}
.dashboard__user {
  background-color: var(--color-purple-600);
  border-radius: 0.9375rem;
  padding: var(--spacing-400);
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}
.dashboard__user-img {
  width: 4rem;
  aspect-ratio: 1/1;
  border: 3px solid var(--color-white);
  border-radius: 100%;
}
.dashboard__user-label {
  margin-bottom: var(--spacing-100);
  color: var(--color-navy-200);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0rem;
}
.dashboard__user-name {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0rem;
}
.dashboard__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dashboard__menu-button {
  flex-basis: 33.3%;
  flex-grow: 1;
  background-color: transparent;
  border: transparent;
  padding: var(--spacing-300) 0;
  cursor: pointer;
  color: var(--color-purple-500);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
}
.dashboard__menu-button[aria-selected=true] {
  color: var(--color-white);
}
.dashboard__grid {
  display: grid;
  gap: var(--spacing-300);
}

.time-card {
  border-radius: 0.9375rem;
  position: relative;
  overflow: hidden;
}
.time-card--work {
  background-color: var(--color-orange-300);
}
.time-card--play {
  background-color: var(--color-blue-300);
}
.time-card--study {
  background-color: var(--color-pink-400);
}
.time-card--exercise {
  background-color: var(--color-green-400);
}
.time-card--social {
  background-color: var(--color-purple-700);
}
.time-card--self-care {
  background-color: var(--color-yellow-900);
}
.time-card__tag {
  position: absolute;
  right: var(--spacing-200);
  top: -12px;
}
.time-card__info {
  margin-top: 38px;
  background-color: var(--color-navy-900);
  position: relative;
  padding: var(--spacing-300);
  border-radius: 0.9375rem;
}
.time-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-100);
}
.time-card__category {
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
}
.time-card__options-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.time-card__time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-card__time {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.375rem;
  letter-spacing: 0rem;
}
.time-card__past-time {
  color: var(--color-navy-200);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0rem;
}

/*# sourceMappingURL=style.css.map */
